<% content_for(:page_title, "Dashboard") %>
<% if user_signed_in? %>
  <div class="container mx-auto px-4 py-6">
    <p class="text-lg text-gray-600">Bem-vindo(a), <%= current_user.last_name %>!</p>
    <div class="mt-10 flex flex-wrap gap-4">
      <div class="w-full lg:w-1/2">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Saldo por Conta</h2>
        <div class="bg-white shadow rounded-lg p-6">
          <%= bar_chart current_user.accounts
                      .group_by(&:name)
                      .map { |name, accounts| [name, accounts.sum(&:balance).round(2)] },
                  height: "300px" %>
        </div>
      </div>
      <div class="w-full lg:w-1/2 ml-4">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Gastos por Categoria</h2>
        <div class="bg-white shadow rounded-lg p-6">
          <%= pie_chart Transaction.joins(:account, :category)
                                  .where(accounts: { user_id: current_user.id })
                                  .where(due_date: Time.now.beginning_of_month..Time.now.end_of_month)
                                  .group('categories.name')
                                  .sum(:amount)
                                  .transform_values { |v| v.round(2) },
                      height: "300px" %>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <h2 class="text-xl font-semibold text-gray-800 mb-4">Receitas e Despesas</h2>
      <div class="bg-white shadow rounded-lg p-6">
        <%= column_chart [
              { name: "Receitas", data: Transaction.completed.income.for_user(current_user)
                    .group_by_month(:due_date, range: 1.year.ago.midnight..Time.now)
                    .sum(:amount)
                    .transform_values { |v| v.round(2) }
                    .transform_keys { |date| date.strftime('%m/%Y') }, color: "green" },
              { name: "Despesas", data: Transaction.completed.expense.for_user(current_user)
                    .group_by_month(:due_date, range: 1.year.ago.midnight..Time.now)
                    .sum(:amount)
                    .transform_values { |v| v.round(2) }
                    .transform_keys { |date| date.strftime('%m/%Y') }, color: "red" }
            ],
            height: "300px", library: { colors: ["green", "red"] } %>
      </div>
    </div>
  </div>
<% end %>
